---
import Button from "./Button.astro";

---

<div class="list">
    <h2 class="list__title">
        Summary 
    </h2>
    <ul class="list__items">
        Reaction 80 / 100 Memory 92 / 100 Verbal 61 / 100 Visual 72 / 100

    </ul>
</div>
<Button label="Continue"/>

<style>

</style>