---
import Button from "./Button.astro";
import rankList from "../data/data.json"

const icons = rankList.map(icon => icon.icon)
---

<div class="list">
    <h2 class="list__title">
        Summary 
    </h2>
    <ul class="list__items">
        {rankList.map(item => (
            // TODO: insert image in img tag
            <li class="list__item"></li>
            <li class="list__item">{item.category}</li>
            <li class="list__item">{item.score}<span class="list__max">/100</span></li>
        ))}
    </ul>
</div>
<Button label="Continue"/>

<style>
    .list__items {
        list-style: none;
    }
    .list__item {
        display: inline-block;
    }
</style>